---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPublishedPosts } from "../../lib/posts";
import { ui } from "../../lib/ui-classes";

const posts = await getPublishedPosts();
const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort();
---
<BaseLayout title="Tags">
  <h1 class={ui.pageTitle}>Tags</h1>
  <div class={ui.tagList}>
    {tags.map((tag) => <a class={ui.tagPill} href={`/tags/${tag}/`}>{tag}</a>)}
  </div>
</BaseLayout>
