---
import type { Post } from "../lib/posts";
import { ui } from "../lib/ui-classes";
import PostList from "./PostList.astro";

const { posts } = Astro.props as { posts: Post[] };
---
<section id="posts" class={ui.pageSection} aria-labelledby="posts-title">
  <div class={ui.sectionHeading}>
    <div>
      <p class={ui.tagline}>Posts</p>
      <h1 class={ui.sectionTitle} id="posts-title">Posts</h1>
    </div>
    <p class={ui.sectionMeta}>{posts.length} posts</p>
  </div>
  <PostList posts={posts} />
</section>
